<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://firsthttpfunctionappchandan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3b19af34-f886-4893-a712-ccb5a8915cc9/resourceGroups/ChandanResgrp/providers/Microsoft.Web/sites/FirstHttpFunctionAppchandan</ResourceId>
    <UserName>$FirstHttpFunctionAppchandan</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://firsthttpfunctionappchandan.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>